<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.weChat.demo1.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.team.weChat.demo1.dto.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="OBJECT_VERSION_NUMBER" jdbcType="INTEGER" property="objectVersionNumber" />
    <result column="REQUEST_ID" jdbcType="INTEGER" property="requestId" />
    <result column="PROGRAM_ID" jdbcType="INTEGER" property="programId" />
    <result column="CREATED_BY" jdbcType="INTEGER" property="createdBy" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="LAST_UPDATED_BY" jdbcType="INTEGER" property="lastUpdatedBy" />
    <result column="LAST_UPDATE_DATE" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>

</mapper>